.Carrito{
    margin-top:10px;
    display: grid;
    grid-template-columns: 80px 2fr 1fr 1fr 1fr;
    gap: 20px;
    align-items: center; /* Alinea todo verticalmente al centro */
    color: white;
    font-family: agatho;
    font-size: 22px;
}

.VistaCarrito h1{
    font-family: wraith;
    color: white;
    margin-left: 20px;
    margin-bottom: 20px;
}

.VistaCarrito{
    max-width: 1580px;
    margin-left: 5px;
}

.VistaCarrito p{
    color:white;
    font-family: agatho;
    text-align: center;
    margin-bottom: 160px;
}

.ItemCarrito{
    margin: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ffffff; /* Color y grosor del borde */
    border-radius: 12px;       /* Bordes redondeados */
    padding: 20px;            /* Espacio interno entre el borde y los productos */
    background-color: rgba(255, 255, 255, 0.05); /* Opcional: un fondo oscuro sutil */
}

.ItemCarrito img {
    width: 90px;
    height: 70px;
    object-fit: cover;
    border-radius: 4px;
}

.ItemCarrito h2 {
    color: white;
    font-family: agatho;
    margin-left: 1100px;
}

.Carrito p {
    text-align: center;
    margin: 0;
}

.clear{
    color: white;
    margin-top: 20px;
    font-family: agatho;
    margin-bottom: 20px;
    margin-left: 1100px;
    font-size: 16px;
    background-color: blueviolet;
    border: 1px solid blueviolet;
    cursor: pointer;
    height: 40px;
    width: 200px;
}

.ItemCarrito button:hover{
    background-color: darkorchid;
}

@font-face {
    font-family: wraith;
    src: url('../../../public/assets/DEATHCROW.ttf');
}

@font-face {
    font-family: a;
    src: url('../../../public/assets/Agatho_\ RegularCAPS.otf');
}


@media (max-width: 760px){
    .Carrito{
        margin-top:10px;
        display: grid;
        grid-template-columns: 25px 4fr 1fr 1fr 2fr;
        font-size: 10px;
    }

    .VistaCarrito h1{
        margin-left: 18px;
        margin-bottom: 10px;
    }

    .VistaCarrito{
        max-width: 1620px;
        margin-left: -10px;
        margin-right: -10px;
    }

    .ItemCarrito{
        margin: 10px;
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid #ffffff; /* Color y grosor del borde */
        padding: 5px;            /* Espacio interno entre el borde y los productos */
    }

.ItemCarrito img {
    width: 35px;
    height: 35px;
}

.ItemCarrito h2 {
    font-family: agatho;
    margin-left: 235px;
    font-size: 20px;

}

.ItemCarrito h3{
    font-size: 10px;
}

.Carrito p {
    text-align: center;
    margin: 0;
}
}