.BannerContainer img{
    width: 100%;
    cursor:default;
}

.Presentacion{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.Presentacion h3{
    color: white;
    position: absolute;
    margin-top: -450px;
    margin-left: 30px;
    font-family: agatho;
    font-size: 28px;
    color: blueviolet;
}

.Presentacion h1{
    color: white;
    position: absolute;
    margin-top: -400px;
    margin-left: 30px;
    font-family: agatho;
    font-size: 22px;
    font-weight:lighter;
}

.Presentacion p{
    color: white;
    position: absolute;
    margin-top: -350px;
    margin-left: 30px;
    font-family: agatho;
    font-size: 15px;
}

.BotonInicial{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: -100px;
    margin-left: 42.5%;
}

.BotonInicial button{
    background-color: transparent;
    border: 1px solid #6d4ba3;
    height: 35px;
    width: 250px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.BotonInicial button:hover{
    background-color: #6d4ba3;
    color: white;
}

.IconoTitulo{
    display: flex;
    flex-direction: row;
}


@media (max-width: 760px){

    .Presentacion h3{
        margin-top: -150px;
        margin-left: 1px;
        font-size: 16px;
    }

    .Presentacion h1{
        margin-top: -120px;
        margin-left: 1px;
        font-size: 12px;
    }

    .Presentacion p{
        margin-top: -100px;
        margin-left: 1px;
        font-size: 10px;
    }

    .BotonInicial{
        margin-top: -50px;
        margin-left: 18%;
    }

}