.AuthCont{
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: agatho;
}

.AuthCont h2{
    font-family: wraith;
}

.AuthCont input{
    width: 500px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid blueviolet;
    height: 40px;
    color:white
}

.AuthCont button{
    width: 508px;
    margin-bottom: 20px;
    background-color: blueviolet;
    border: 1px solid blueviolet;
    height: 40px;
    color:white;
    cursor:pointer;
    font-family: agatho;
    font-size: 18px;
}

@media (max-width:760px){
    .AuthCont{
        color: white;
        font-size: 20px;
    }

    .AuthCont form{
        margin-left: 5px;
    }

    .AuthCont input{
        width: 350px;
        margin-bottom: 10px;
        height: 30px; 
    }

    .AuthCont button{
        margin-bottom: 20px;
        height: 40px;
        font-size: 16px;
        width: 360px;
    }

}